<head>
  <meta charset="utf-8">
  <title>Solar System</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Sirin+Stencil&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="/css/styles.css" />
</head>