<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<style>
    body{ 
        background-image: url("<%= image %>");
        background-size: cover;
    }
 	</style>
<body>
    <div class="main">
        <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %><br><br><br><br>
    <img src="/img/solar-system.jpg" class="solar-system-img"><br><br><br><br>

    <%- include('partials/footer.ejs') %>
    </div>
    
</body>
</html>
