<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2> NASA Photo of the Day </h2>
    
    <img src="<%= apod.url %>"></iframe> 

    <%- include('partials/footer.ejs') %>

</body>
</html>
