<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <div class="main">
        <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2> NASA Photo of the Day </h2>
    
    <iframe src="<%= apod.url %>"></iframe> <br><br><br><br>

    <%- include('partials/footer.ejs') %>
    </div>

</body>
</html>
