body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Sirin Stencil", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    justify-content: center;
}

footer {
    font-size: 10px;
    color: #efff09e7
}

h1 {
  font-family: "Sirin Stencil", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: xx-large;
  letter-spacing: 5px;
  background-color: black;
  padding: 18px 0;
  margin: 0 0 18px 0;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.planet-img {
    width: 600px; 
}


.solar-system-img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

nav a {
  margin: 0 8px;
}