body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Sirin Stencil", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;

}