body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Sirin Stencil", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    max-width: 800px;
    justify-content: center;
}

footer {
    font-size: 10px;
    color: #efff09e7
}

h1 {
  font-family: "Sirin Stencil", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: xx-large;
  letter-spacing: 5px;
}

.planet-img {
    width: 600px; 
}

.solar-system-img {
    width: 1200px;
    border: white;
    border-width: 10px;
    border-radius: 10px;
}

nav a {
  margin: 0 8px;
}